@keyframes opening-heroes-list {
   0% {
      transform: translateY(-50px) translateX(-80px); /* Начальное плоское положение, поворот на 180 градусов */
      opacity: 0; /* Элемент полностью невидим */
   }

   100% {
      transform: translateY(0) translateX(0); /* Нормальный размер и положение */
      opacity: 1; /* Полная видимость */
   }
}

@keyframes opening-show-heroes {
   0% {
      filter: grayscale(1);
      transform: scale(0.3) rotate(135deg) translateY(0px); /* Начальное плоское положение, поворот на 180 градусов */
      opacity: 0; /* Элемент полностью невидим */
   }
   100% {
      filter: grayscale(0);
      transform: scale(1) rotate(0) translateY(0); /* Нормальный размер и положение */
      opacity: 1; /* Полная видимость */
   }
}

@keyframes light-spark {
   0% {
      opacity: 0;
   }
   25% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@keyframes pulsating {
   0% {
      scale: 1;
      filter: blur(5px);
      
   }
   100% {
      scale: 1.05;
      filter: blur(55px);
   }
}

@keyframes scroll-up {
   0% {
       transform: translateY(100%);
       opacity: 0;
   }
   100% {
       transform: translateY(0);
       opacity: 1;
   }
}

@keyframes goes-out {
   0% {
       opacity: 1;
       scale: 1;
       filter: blur(0);
   }
   100% {
       opacity: 0;
       scale: 1.5;
       filter: blur(0.5em);
   }
}

@keyframes bounce {
   0% {
      transform: translatex(-0.5rem);
   }

   10% {
      transform: translatex(0.5rem);
   }

   20% {
      transform: translatex(0);
   }

   100% {
      transform: translatex(0);
   }
}

@keyframes go-last-change-text {
   0% {
       opacity: 0;
       transform: translateY(1em);
   }
   100% {
       opacity: 1;
       transform: translateY(0);
   }
}

@keyframes go-last-change-number {
   0% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(1em);
  }
}

@keyframes hello {
   0% {
      opacity: 0.1;
      
   }
   100% {
      opacity: 0.8;
   }
}

@keyframes lightning {
   0% {
      opacity: 0.6;
      filter: brightness(1);
      
   }
   100% {
      opacity: 1;
      filter: brightness(2);
   }
}

@keyframes new-option {
   0% {
      scale: 1;
      rotate: -15deg;
      
   }
   25% {
      scale: 1.2;
      // rotate: 0deg;
      
   }
   50% {
      scale: 1;

   }
   75% {
      scale: 1.2;

   }
   100% {
      scale: 1;
      rotate: 15deg;
   }
}