.go-last {
   padding: 40px 15px;
   width: 450px;
   height: 300px;
   background-color: #fff;
   border-radius: 16px;
   &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0;
   }
   &__range-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
   }
   &__range {
      accent-color: red;
      width: 100%;
      background: #ff0000; /* Grey background */
   }
   &__yes {
      color: #000;
   }
   &__no {
      color: #000;
   }
   &__result {
      font-size: 80px;
      font-family: "Roboto";
      color: rgb(9, 255, 0);
   }
   &__button {
      font-family: "Roboto";
      font-size: 28px;
      letter-spacing: 0.1em;
      border-radius: 3px;
      width: 300px;
      // height: 30px;
      background-color: #000;
      cursor: pointer;
      &:hover {
         background-color: #474747;
      }
   }
}

///////////
.go-last__range-box {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.chanses-box {
   width: 100%;
   display: flex;
   justify-content: center;
}

.chanses-box-item {
   min-width: 70px;
   max-width: 70px;
   height: 100%;
   aspect-ratio: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #e9c3c3;
   padding: 10px;

   &:nth-child(even) {
      background-color: #8b2424;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   &:nth-child(odd) {
      background-color: #53a33a;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
   }
}

.chanses-box-text {
   font-family: "Roboto";
   font-weight: 500;
   font-size: 18px;
   color: rgb(0, 0, 0);
}

.chanses-box-content {
   font-family: "Roboto";
   font-weight: 500;
   font-size: 28px;
}

.chanses-box-yes {
   color: #ffffff;
}

.chanses-box-no {
   color: #ffffff;
}

.go-last__range-slider {
   appearance: none;
   -webkit-appearance: none;
   width: 100%;
   height: 18px;
   border-radius: 9px;
   background: linear-gradient(to right, green 50%, red 50%);
   outline: none;
   position: relative;
}

.go-last__range-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 20px;
   height: 30px;
   background-color: #bebebe;
   // border: 2px solid #000;
   border-radius: 5px;
   box-shadow: inset 0 0 5px #000000a2;
   cursor: pointer;
   position: relative;
}

// .go-last__range-slider::before {
//    content: attr(noValue);
//    color: rgb(0, 0, 0);
//    position: absolute;
//    top: -35px;
//    left: 60%;
//    min-width: 48px;
//    height: fit-content;
//    transform: translateX(-50%);
//    background-color: #fff;
//    padding: 5px 10px;
//    border-radius: 5px;
//    font-size: 14px;
//    font-weight: bold;
//    border: 1px solid #000;
//    text-align: center;
// }
// .go-last__range-slider::after {
//    content: attr(yesValue);
//    color: rgb(0, 0, 0);
//    position: absolute;
//    top: -35px;
//    left: 40%;
//    min-width: 48px;
//    height: fit-content;
//    transform: translateX(-50%);
//    background-color: #fff;
//    padding: 5px 10px;
//    border-radius: 5px;
//    font-size: 14px;
//    font-weight: bold;
//    border: 1px solid #000;
//    text-align: center;
// }

.go-last__range-slider::-moz-range-thumb {
   width: 30px;
   height: 30px;
   background-color: #fff;
   border: 2px solid #000;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
}
