.popup {
   // margin: auto;
   font-family: "Inter", Arial, sans-serif;
   display: none;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 10;
   display: flex;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   user-select: none;
   transition: visibility 0s 0.3s, opacity 0.3s, backdrop-filter 0.3s;
   // transition: visibility 0s 0.6s, opacity 0.6s, backdrop-filter 0.6s;
   backdrop-filter: blur(0);
   -webkit-backdrop-filter: blur(0);
   &:has(.loading) {
      background-color: rgba(0, 0, 255, 0.1);
   }
}

.popup_is-opened {
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   display: flex;
   visibility: visible;
   opacity: 1;
   pointer-events: all;
   user-select: auto;
   transition: visibility 0s, opacity 0.3s, backdrop-filter 0.3s;
   // transition: visibility 0s, opacity 0.6s, backdrop-filter 0.6s;
   &:has(.loading) {
      backdrop-filter: blur(50px);
   }
   & .custom-border {
      &:has(.heroes-list) {
         animation-name: opening-heroes-list;
         animation-duration: 0.6s;
         animation-iteration-count: 1;
         animation-timing-function: ease;
         animation-direction: normal;
         transform-origin: center; /* Определяем точку трансформации */
      }
      &:has(.portraits-list) {
         animation-name: opening-heroes-list;
         animation-duration: 0.6s;
         animation-iteration-count: 1;
         animation-timing-function: ease;
         animation-direction: normal;
         transform-origin: center; /* Определяем точку трансформации */
      }
      &:has(.show-hero) {
         animation-name: opening-show-heroes;
         animation-duration: 1s;
         animation-iteration-count: 1;
         animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
         animation-direction: normal;
         transform-origin: center; /* Определяем точку трансформации */
      }
   }
   & .show-hero {
      & .buttons-bar {
         transition: opacity 0s ease, transform 0.5s ease;
         transition-delay: 1s;
         transform: translateY(0);
         opacity: 1;
      }
      & .show-hero__title {
         transition: 0.8s ease;
         transition-delay: 0.8s;
         transform: scale(1);
         opacity: 1;
      }
      & .show-hero__hello {
         transition: 0.8s ease;
         transition-delay: 0.2s;
         transform: translateY(0);
         opacity: 1;
      }
      & .show-hero__video {
         transform-origin: center;
         transform: scale(1);
         transition: 1.2s ease-in;
         transition-delay: 1s;
         opacity: 1;
      }
   }
}

.popup_is-animated {
   display: flex;
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   user-select: none;
   transition: visibility 0s 0.6s, opacity 0.6s;
}

.custom-border {
   font-size: 10px;
   padding: 1em;
   border-radius: 2.6em;
   position: relative;
   // box-shadow: inset 0 0 50px #fff;
   // font-size: 10px;
   // background-image: linear-gradient(#67679e, #a88484);
   &:has(.minigame-pairs) {
      background-image: linear-gradient(#67679e, #a88484);
   }
   &:has(.portraits-list) {
      background-image: none;
      box-shadow: inset 0 0 20px #635add65;
   }
   &:has(.whats-new) {
      background-image: linear-gradient((-20deg), #2c493b, #503232);
   }
   &:has(.update) {
      background-image: linear-gradient((-20deg), #2c493b, #503232);
   }
   &:has(.show-hero) {
      background-image: linear-gradient(#67679e, #a88484);
   }
   &:has(.go-last) {
      background-image: linear-gradient(90deg, #39396d, #5a3b66);
   }
}
