/* From Uiverse.io by catraco */
/*------ Settings ------*/
.container {
   position: relative;
   left: 0.45em;
   transition: 0.2s ease;
   display: flex;
   justify-content: end;
   align-items: center;
   position: relative;
   cursor: pointer;
   font-size: 2em;
   user-select: none;
   fill: $major-text;
   &:hover {
      fill: #ffffff;
   }
}

.song-changer {
   // background-color: #fff;
   width: 2.7em;
   transform-origin: left;
   transition: 0.2s ease;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
   font-size: 2em;
   user-select: none;
   fill: $major-text;
   &:hover {
      fill: #ffffff;
      &:hover .song-changer-volume {
         width: 7em;
         opacity: 0.5;
      }
      &:hover .song-changer-volume::after {
         opacity: 1;
      }
      &:hover .song-changer-volume::before {
         opacity: 1;
      }
   }
}

.song-changer-volume {
   cursor: pointer;
   -webkit-appearance: none;
   appearance: none;
   border-radius: 0.3em;
   height: 0.6em;
   width: 0;
   // transition: 0.2s ease; 
   transition: 0.8s ease; // Убираем яйца
   opacity: 0;
   position: absolute; /* или fixed, в зависимости от ваших нужд */
   top: 0.45em;
   left: 3.2em; // Убираем яйца
   // left: 2.6em;
   // transform: translate(-50%, -50%);
   &::before { // Убираем яйца
      box-shadow: inset 0.2em 0 0.2em #00000042, inset 0.1em 0.2em 0.3em #00000042, inset 0.2em 0.1em 0.5em #00000042, -0.2em -0.2em 0.4em #00000042;
      transform: rotate(-7deg);
      transition: 0.1s ease;
      position: absolute;
      bottom: 0.3em;
      left: -0.9em;
      background-color: #ffffff;
      width: 1.6em;
      height: 1em;
      border-radius: 50%;
      content: '';
   }
   &::after { // Убираем яйца
      box-shadow: inset 0.2em 0 0.2em #00000042, inset 0.1em 0.4em 0.3em #00000042, inset 0.4em 0.1em 0.5em #00000042, -0.4em -0.2em 0.4em #00000042;
      transform: rotate(7deg);
      transition: 0.1s ease;
      position: absolute;
      top: 0.3em;
      left: -0.9em;
      background-color: #ffffff;
      width: 1.6em;
      height: 1em;
      border-radius: 50%;
      content: '';
   }
   
}

.song-changer-volume::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 1.0em;
   width: 1.4em;
   transform: skew(1);
   border-radius: 50%;
   background: #ffffff;
   box-shadow: -0.3em 0 0.2em #00000042, inset 0 0 0.3em #000, inset 0.2em 0 0.3em #00000042;
   transition: background .3s ease-in-out;
   position: relative; // Убираем яйца
   z-index: 3; // Убираем яйца
}

.song-changer-volume::-webkit-slider-runnable-track  {
   -webkit-appearance: none;
   box-shadow: none;
   border-radius: 1em;
   // background: red;
 }

.container .mute {
   position: absolute;
   animation: keyframes-fill 0.5s;
}

.container .voice {
   position: absolute;
   display: none;
   animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.container input:checked ~ .mute {
   display: none;
}

.container input:checked ~ .voice {
   display: block;
}

/* ------ Hide the default checkbox ------ */
.container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
   0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
   }

   50% {
      transform: rotate(-10deg) scale(1.2);
   }
}
