@font-face {
   font-display: swap;
   font-family: "Inter-Variable";
   src: local("Inter-Variable"),
      url("../assets/fonts/Inter-Variable.woff2") format("woff2 supports variations"),
      url("../assets/fonts/Inter-Variable.woff2") format("woff2-variations");
   font-weight: 400 800;
}

@font-face {
   font-family: "Trajanpro";
   src: local("trajanpro_bold.otf");
   src: url("../assets/fonts/trajanpro_bold.otf") format("otf");
   font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');