.show-hero {
   // padding: 10px;
   overflow: hidden;
   width: fit-content;
   height: fit-content;
   max-width: 550px;
   font-family: "Open Sans";
   height: fit-content;
   width: fit-content;
   border-radius: 16px;
   // background-color: #47545a;
   background-image: url("../assets/images/herobg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   object-fit: cover;
   object-position: center;
   box-shadow: inset 0 50px 150px #000;
   // border: 12px #ffffff solid;
   // max-width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0;
   &__hello {
      opacity: 0;
      transform: translateY(-100px);
      color: #fff;
      mix-blend-mode: difference;
      user-select: none;
      opacity: 1;
      margin-top: 20px;
      font-size: 26px;
   }
   &__title {
      margin-top: 20px;
      opacity: 0;
      transform: scale(1.2);
      padding: 0 5px;
      mix-blend-mode: difference;
      // mask-image: linear-gradient(to top, transparent 0%, black 90%);
      user-select: none;
      line-height: 1em;
      text-align: center;
      color: #ffffff;
      text-shadow: 4px 2px 2px #bebebe;
      // background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
      // color: transparent;
      // -webkit-background-clip: text;
      // background-clip: text;
      white-space: wrap;
      font-size: 75px;
   }
   &__video {
      transform: scale(1.2);
      opacity: 0;
      filter: drop-shadow(15px 10px 15px #000000);
      // margin-bottom: 1em;
      user-select: none;
      pointer-events: none;
      mask-image: linear-gradient(to top, transparent 1%, black 20%);
      max-width: 100%;
      user-select: none;
      pointer-events: none;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;         
         width: 100px;
         height: 100px;
         background-color: #fff;
      }
   }

   .buttons-bar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0;
      opacity: 0;
      transform: translateY(50px);

      .button {
         cursor: pointer;
         height: 50px;
         font-size: 20px;
         &-accept {
            // border-top-left-radius: 9px;
            border-bottom-left-radius: 16px;
            width: 50%;
            // border-top: 2px solid #fff;
            // border-bottom: 2px solid #fff;
            // border-right: 1px solid #fff;
            // border-left: 2px solid #fff;
            // background-color: transparent;
            background-color: #808080;
            color: rgb(0, 0, 0);
         }
         &-retry {
            // border-top-right-radius: 9px;
            border-bottom-right-radius: 16px;
            width: 50%;
            // border-top: 2px solid #fff;
            // border-bottom: 2px solid #fff;
            // border-right: 2px solid #fff;
            // border-left: 1px solid #fff;
            background-color: transparent;
            background-color: #797979;
            color: rgb(0, 0, 0);
         }
      }
   }

   // .close__button {
   //    font-size: 2em;
   //    width: fit-content;
   //    position: absolute;
   //    background-color: transparent;
   //    top: 5px;
   //    right: 10px;
   // }
}


