.whats-new {
   position: relative;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 20px;
   // padding-bottom: 50px;
   max-height: 80vh;
   // position: relative;
   height: fit-content;
   width: fit-content;
   // border: 2px solid #fff;
   border-radius: 16px;
   background-color: #161616;
   max-width: 800px;
   overflow: auto;
   &::-webkit-scrollbar {
      width: 0px; /* ширина scrollbar */
   }
   &::-webkit-scrollbar-track {
      background: transparent; /* цвет дорожки */
   }
   &::-webkit-scrollbar-thumb {
      width: 2px;
      background-color: rgb(255, 255, 255); /* цвет плашки */
      border-radius: 20px; /* закругления плашки */
   }
   &__main-title {
      font-family: "Pacifico";
      font-weight: 700;
      text-align: center;
      font-size: 38px;
      color: rebeccapurple;
   }
   &__content {
      font-weight: 300;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 30px;
   }
   &__item {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   &__title {
      font-size: 18px;
      font-weight: 600;
   }
   &__text {
      color: #b8b8b8;
      padding-left: 20px;
      line-height: 28px;
      font-size: 15px;
      &-heroes {
         font-family: "Roboto";
         letter-spacing: 0.03em;
         font-size: 14px;
         border-radius: 0.4em;
         border: #2e2e2e 2px solid;
         transition: 0.2s ease;
         padding: 2px 15px;
         font-weight: 400;
         color: #353535;
         background-color: #cecece;
         border: #8f8f8f 2px solid;
      }
      &-reset {
         padding: 4px 12px;
         transition: color 0.1s, box-shadow 0.2s, background-color 0.2s ease;
         background-color: #fff;
         color: $minor-text;
         border-radius: 16px;
         font-size: 14px;
         font-weight: bold;
      }
   }
}
